<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User's list</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th> id </th>
    <th> name </th>
    <th> email </th>
  </tr>
  </thead>
  <tbody>

  <tr th:each="user : ${listuserview}">
    <td><span th:text="${user.id}"> </span></td>
    <td><span th:text="${user.name}"></span></td>
    <td><span th:text="${user.email}"></span></td>
  </tr>
  </tbody>
</table>
</body>
</html>